{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Login page</h1>
    <div class="container">
        <div class="mx-auto pt-5" style="width: 50%;">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="inputUser" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" name="uname">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            Not registered? <a href="/register">Register here</a>
        </div>
    </div>
{% endblock %}