{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
        <div class="mx-auto pt-5" style="width: 50%;">
            <h3 class="">Register</h3>

            <form action="/register" method="post">
                <!-- <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div> -->
                <div class="mb-3">
                    <label for="inputUser" class="form-label lead">Username</label>
                    <input type="text" class="form-control" id="inputUser" aria-describedby="emailHelp" name="uname">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label lead">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                {% if error %}
                    <span style="color: red;">{{ error }}</span><br>
                    <button type="submit" class="btn btn-primary">Register</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Register</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}